{% load static i18n %}{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as RTL %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="{% if RTL %}rtl{% else %}ltr{% endif %}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ paper_title }}</title>
  {% if RTL %}<link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.rtl.min.css' %}">{% else %}<link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">{% endif %}
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/cairo/cairo.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
</head>
