{% load i18n %}<div class="chart-legend small">
  <span><i class="lg lg-caries"></i> {% trans "Caries" %}</span>
  <span><i class="lg lg-filling"></i> {% trans "Filling" %}</span>
  <span><i class="lg lg-crown"></i> {% trans "Crown" %}</span>
  <span><i class="lg lg-rct"></i> {% trans "Root canal" %}</span>
  <span><i class="lg lg-implant"></i> {% trans "Implant (healing)" %}</span>
  <span><i class="lg lg-loaded"></i> {% trans "Implant loaded" %}</span>
  <span><i class="lg lg-missing">✕</i> {% trans "Missing" %}</span>
  <span><b class="text-danger">H</b> {% trans "Hopeless" %}</span>
  <span><b class="text-danger">RR</b> {% trans "Root remnant" %}</span>
  <span><b style="color:#6F42C1">M1-3</b> {% trans "Mobility" %}</span>
  <span><b>?</b> {% trans "Not sure" %}</span>
  <span><b class="text-primary text-decoration-underline">36</b> / <b class="text-primary">P</b> {% trans "Planned treatment" %}</span>
  <span>{% trans "Surfaces" %}: M O D B L</span>
</div>
